-if(!auth){
	#twitter-login(style="float: right;")
		a(href='/login/twitter', style='border: 0px')
			img(style='border: 0px', src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png')
-}

h1 #{poll.title}

#chart

ul
	each opt in poll.opts
		li(id=opt._id, style="display: inline; margin: 20px;")
			a(href="/polls/" + poll._id + "/vote/" + opt._id) #{opt.title}: 
				span #{opt.votes}

script(type="text/javascript", src="/js/glibs.js")
script(type="text/javascript", src="/socket.io/socket.io.js")
script()
	$(function(){
		var socket = io.connect('http://local.host');
		socket.emit('join poll', '#{poll._id}');
		var poll = !{json_poll};

		var r = Raphael("chart");
		var chart_data = [];
		for(var i in poll.opts){
			chart_data.push([poll.opts[i].votes]);
		}

		var fin = function(){
			this.flag = r.popup(this.bar.x, this.bar.y, this.bar.value || "0").insertBefore(this);
		};

		var fout = function(){
			this.flag.animate({opacity: 0}, 300, function () {this.remove();});
		};

		function chart_render(){
			r.clear();
			r.barchart(10, 10, 300, 220, chart_data).hover(fin, fout);
		}

		chart_render();		

		$('ul a').click(function(e){
			e.preventDefault();
			var self = this;
			$.getJSON($(self).attr('href'), function(data){
				if(data && "string" != typeof data){
					socket.emit('vote', { poll_id: data.poll_id, option_id: data.option_id });
				} else if(data){
					alert(data);
				}
			});
		});

		socket.on('vote proc', function(data){
			$('#'+data.option_id+' a span').text(parseInt($('#'+data.option_id+' span').text()) + 1);
			chart_data[$('#'+data.option_id).index()]++;
			chart_render();
		});

	});
