-if(!auth){
	#twitter-login(style="float: right;")
		a(href='/login/twitter', style='border: 0px')
			img(style='border: 0px', src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png')
-}

h1 #{poll.title}

#chart

ul
	each opt in poll.opts
		li(id=opt._id, style="display: inline; margin: 20px;")
			a(href="/polls/" + poll._id + "/vote/" + opt._id) #{opt.title}: 
				span #{opt.votes}

script(type="text/javascript", src="/socket.io/socket.io.js")
script(type="text/javascript", src="/js/highcharts.js")
script()
	var poll = !{json_poll};
script(type="text/javascript", src="/js/poll.js")
